ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

ul.cantganadas {
  padding-left: 140px;
}

ul.cantganadas li {
  font-size: 28px;
  font-family: fantasy;
  font-style: italic;
}

li.separador {
  padding: 0 20px 0 20px;
}

li.nombre {
  font-variant: small-caps;
  padding: 0 10px 0 10px;
}

div p {
  display: inline-block;
}
