body {
  background-color: #A9F5F2;
  cursor: default;
}

div.contenedor {
  margin: 0 auto;
  width: 35%;
}

ul {
  list-style: none;
  padding-left: 150px;
}

ul li {
  display: inline-block;
  font-size: 30px;
  font-family: fantasy;
  font-style: italic;
}

li#separador {
  padding: 0 20px 0 20px;
}

li.nombre {
  font-variant: small-caps;
  padding: 0 10px 0 10px;
  text-decoration: underline;
}

div p {
  display: inline-block;
  padding-right: 10px;
}

div input {
  margin-top: 10px;
}
