body {
  background-color: #A9F5F2;
  cursor: default;
}

div.puntuacion{
  padding-left: 125px;
  font-size: 26px;
  font-style: oblique; 
}

p#separador {
  padding: 0 20px 0 20px;
}

p.nombre {
  font-variant: small-caps;
  padding: 0 10px 0 10px;
  text-decoration: underline;
}

div p {
  display: inline-block;
  padding-right: 10px;
}

div input {
  margin-top: 10px;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  font-size: 12px;
}
